<div class="app-container">
  <div class="filters">
    <app-logo [title]="title" ></app-logo>

    <app-button *ngIf="filteredPlants.active" (click)="resetFilters()"></app-button>

    <div class="color-filters">
      <button
        *ngFor="let color of colors"
        (click)="filterByColor(color)"
        class="color-preview"
        [ngStyle]="setBackgroundColor(color)">
      </button>
    </div>
    <label for="nectar-slider">nectar</label>
    <mat-slider id="nectar-slider" min="0" max="5"  thumbLabel [(value)]="activeFilters.nectar" (change)="filterByPollenOrNectar('nectar')"></mat-slider>
  </div>

  <div class="plants-wrapper">
    <div *ngFor="let plant of filteredPlants.results" class="card" >
      <div class="card-image">
        <img [src]="plant.image" alt="">
      </div>
      <div class="card-body">
          <h2 class="card-title">{{ plant.name }}</h2>
          <div class="plant-specs">
            <p>Flowering: </p>
            <p>Nectar: {{ plant.nectar }}</p>
            <p>Pollen: {{ plant.pollen }}</p>
          </div>
          <p>{{ plant.description }}</p>
          <a [href]="plant.url"> read more </a>
      </div>
    </div>
  </div>
</div>




