.plants-wrapper{
  width: 80%;
  display: flex;
  padding: 50px;
  justify-content: space-between;
}

.card{
  width: 30%;
  border: 1px solid grey;
  border-radius: 5px;
  overflow: hidden;

  .card-image{
    height: 400px;
    overflow: hidden;

    img{
      width: 100%;
    }
  }

  .card-body{
    padding: 20px;
  }
}
