<button (click)="resetFilters()">reset filters</button>
<button (click)="filterByColor('red')">color filter</button>

<div class="plants-wrapper">
  <div *ngFor="let plant of filteredPlants" class="card" >
    <div class="card-image">
      <img [src]="plant.image" alt="">
    </div>
    <div class="card-body">
        <h1>{{ plant.name }}</h1>
        <p>{{ plant.description }}</p>
        <p>{{ plant.color }}</p>
        <p>Nectar: {{ plant.nectar }}</p>
        <p>Pollen: {{ plant.pollen }}</p>
    </div>
  </div>
</div>



