<div class="app-container">
  <div class="filters">
    <h1>{{ title }}</h1>
    <button (click)="resetFilters()">reset filters</button>

    <button
        *ngFor="let color of colors"
        (click)="filterByColor(color)"
        class="color-preview"
        [ngStyle]="setBackgroundColor(color)">
    </button>
    <button (click)="filterByNectar(3, 5)">nectar filter</button>
    <!-- <span [ngStyle]="setBackgroundColor(plant.color)" class="color-preview"></span> -->
  </div>

  <div class="plants-wrapper">
    <div *ngFor="let plant of filteredPlants" class="card" >
      <div class="card-image">
        <img [src]="plant.image" alt="">
      </div>
      <div class="card-body">
          <h2 class="card-title">{{ plant.name }}</h2>
          <div class="plant-specs">
            <p>Flowering: </p>
            <p>Nectar: {{ plant.nectar }}</p>
            <p>Pollen: {{ plant.pollen }}</p>
          </div>
          <p>{{ plant.description }}</p>
      </div>
    </div>
  </div>
</div>




