// button variation mixin
@mixin buttonStyle($backgroundColor, $textColor) {
  background-color: $backgroundColor;
  color: $textColor;

  &:hover {
    background-color: darken($backgroundColor, 10%);
  }
}

// main button style
button{
  padding: 20px;
  border: none;
  font-size: 1em;
  transition: .35s background-color;

  &:hover{
    cursor: pointer;
  }
}

// button variations
.primary {
  @include buttonStyle($yellow, $black)
}

.secondary {
  @include buttonStyle($pink, $black);
}

.sticky {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
