/* You can add global styles to this file, and also import other style files */

// material design theme
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "variables";
@import "buttons";

body{
  background-color: $grey-light;
  font-family: 'Nunito', sans-serif;
  color: $black;
}

.hidden {
  display: none !important;
}
