$yellow: #faf562;
$black: #111;

button{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: $yellow;
  border: none;
  font-size: 1em;
  color: $black;
  transition: .35s background-color;

  &:hover{
    cursor: pointer;
    background-color: darken($yellow, 10%);
  }
}
